*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(38, 180, 223);
    color: rgb(224, 224, 212);
    font-size: 4vw;
}
body{
    background-color: rgb(43, 97, 160);
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logg{
   position: relative;
   top: 27vh;
   border: solid black;
   border-radius:4px ;
   padding: 4vh 5vw;
   background-color:rgb(243, 230, 215);
}
label{
    font-size: 3vh;
}
.lo{
    width: 33vh;
    height: 4vh;
    border-radius: 2.5px;
    border: solid 0.5px;
}
.but{
   position: relative;
   left: 9.5vh;
   padding: 1.5vh 2vh;
   font-size: larger;
   text-decoration: none;
}
@media screen and (max-width: 360px) {
    h1{
        font-size: 9vw;
    }
}