*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(89, 73, 196);
    color: beige;
    font-size: 4vw;
}
body{
    background-color: rgb(94, 84, 155);
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logg{
   position: relative;
   top: 27vh;
   border: solid black;
   border-radius:4px ;
   padding: 4vh 5vw;
   background-color: rgb(112, 102, 182);
}
label{
    font-size: 3vh;
}
.lo{
    width: 33vh;
    height: 4vh;
    border-radius: 2.5px;
    border: solid 0.5px;
}
#but{
   position: relative;
   left: 9.5vh;
   padding: 1.5vh 2vh;
   font-size: larger;
}
@media screen and (max-width: 360px) {
    h1{
        font-size: 9vw;
    }
}